@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

img{
    width: 100%;
    display: flex;
}

a{
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #18181B;
    position: relative;
}

nav{
    max-width: 1200px;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.nav-logo{
    max-width: 90px;
}

.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.link a{
    position: relative;
    padding-bottom: 0.75rem;
    color: #fff;
}

.link a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #C8686E;
    transition: all 0.3s ease;
}

.link a:hover::after{
    width: 70%;
}

.btn{
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #fff;
    background-color: #C8686E;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover{
    background-color: #C8686E;
}

.container{
    max-width: 1200px;
    margin: auto;
    padding: 5rem 2rem;
    position: relative;
    z-index: 1;
}

header{
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

header #particles{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

header .content h4{
    margin-bottom: 1rem;
    color: #ccc;
    font-size: 1rem;
    font-weight: 600;
}

header .content h1{
    color: #fff;
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
}

header .content h1 span{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #fff;
}

header .content p{
    margin-bottom: 2rem;
    color: #ccc;
}

header .image{
    position: relative;
}

header .image::before {
    content: "";
    position: absolute;
    top: 5%;
    left: 60%;
    transform: translateX(-50%);
    width: 400px; /* Defina a largura desejada */
    height: 400px; /* Defina a altura desejada */
    background-color: #fff; /* Cor do retângulo */
    opacity: 0.2;
    z-index: -100;
    border-radius: 10px;
}


header .image img{
    max-width: 600px;
    margin: auto;
}

section .header{
    margin-bottom: 1rem;
    color: #fff;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 600;
}

footer{
    position: relative;
    display: grid;
    left: 0%;
    grid-template-columns: 400px repeat(3, 1fr);
    gap: 2rem;
}

footer .column .logo{
    max-width: 100px;
    margin-bottom: 2rem;
}

footer .column p{
    color: #ccc;
    margin-bottom: 2rem;
}

footer .column .socials{
    display: flex;
    align-items: center;
    gap: 1rem;
}

footer .column .socials a{
    color: #ccc;
    border: 1px solid #ccc;
    padding: 5px 10px;
    font-size: 1.25rem;
    border-radius: 100%;
    transition: all 0.3s ease;
}

footer .column .socials a:hover{
    color: #fff;
    background-color: #C8686E;
    border-color: #C8686E;
}

.copyright{
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
    color: #fff;
    font-size: 0.8rem;
    text-align: center;
}

.portfolio{
    background-color: #deebee;
    padding: 110px 85px;
}

.portfolio .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
}

.portfolio .header button{
    background-color: #18181B;
    padding: 10px 20px;
    color: #18181B;
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 8px;
    border: none;
    border-radius: 10px;
}

.portfolio .header button i{
    font-size: 26px;
}

.portfolio .portfo-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.portfolio .portfo-items .item{
    width: 30%;
    background-color: #fff;
    border-radius: 10px;
    border-bottom: 4px solid transparent;
    cursor: pointer;
    box-shadow: 0 5px 32px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
}

.portfolio .portfo-items .item:hover{
    border-color: #C8686E;
}

.portfolio .portfo-items .item img{
    width: 100%;
    height: 240px;
    object-fit: cover;
    object-position: top;
    border-radius: 10px 10px 20px 20px;
}

.portfolio .portfo-items .item .info{
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 20px 32px 42px;
}

.portfolio .portfo-items .item .info p{
    font-size: 13px;
}

.portfolio .portfo-items .item .info a{
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-color: #C8686E;
}

.portfolio .portfo-items .item .info a i{
    margin-left: 2px;
    font-size: 16px;
}

.menu-toggle {
    display: none;
    cursor: pointer;
}

.hamburger {
    width: 25px;
    height: 3px;
    background-color: #C8686E;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 3px;
    background-color: #C8686E;
    transition: all 0.3s ease-in-out;
}

.hamburger::before {
    transform: translateY(-8px);
}

.hamburger::after {
    transform: translateY(8px);
}

/* Classes para animação do menu hamburguer */
.menu-toggle.active .hamburger {
    background-color: transparent;
}

.menu-toggle.active .hamburger::before {
    transform: rotate(45deg);
}

.menu-toggle.active .hamburger::after {
    transform: rotate(-45deg);
}

@media screen and (width < 900px){
    .content{
        flex-direction: column;
    }
    header{
        grid-template-columns: repeat(1, 1fr);
    }
    header .image{
        grid-area: 1/1/2/2;
    }
    .nav-links{
        display: none;
    }
    .portfolio .header h3{
        font-size: 32px;
    }
    footer{
        grid-template-columns: 1fr 200px;
    }
}

@media screen and (max-width: 992px) {
    header .image::before{
        display: none;
    }
    
    .portfolio .portfo-items{
        gap: 22px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .portfolio .portfo-items .item{
        width: 48%;
    }
}

@media screen and (max-width: 768px) {
    header{
        padding-top: 0px;
    }
    header.container {
        margin-top: 80px;
    }
    nav{
        position: fixed;
        top: 0;
        left: 0;
        height: 80px;
        width: 100%;
        padding: 1rem 2rem;
        z-index: 1000;
        backdrop-filter: blur(10px);
        background-color: #18181B;
    }
    .container{
        padding-top: 120px;
    }
    .nav-logo{
        max-width: 30px;
    }
    .portfolio{
        padding: 60px 42px;
        margin-top: 0px;
        position: relative;
        z-index: 1;
    }

    .portfolio .portfo-items{
        gap: 18px;
    }

    .portfolio .portfo-items .item{
        width: 80%;
    }
    .menu-toggle {
        display: block;
        z-index: 999;
    }

    .nav-links {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.95);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: 0.3s ease-in-out;
        z-index: 998;
    }

    .nav-links.active {
        left: 0;
    }

    .nav-links li {
        margin: 20px 0;
        opacity: 0;
        transform: translateY(20px);
        transition: all 0.3s ease;
    }

    .nav-links.active li {
        opacity: 1;
        transform: translateY(0);
    }

    .nav-links li:nth-child(1) {
        transition-delay: 0.2s;
    }
    .nav-links li:nth-child(2) {
        transition-delay: 0.3s;
    }
    .nav-links li:nth-child(3) {
        transition-delay: 0.4s;
    }

    .nav-links a {
        font-size: 24px;
        color: #fff;
    }
    
    footer{
        grid-template-columns: 1fr 150px;
    }
}